# MongoDB Configuration
# Para produção (MongoDB Atlas)
# MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/os-service-db?retryWrites=true&w=majority
# Para desenvolvimento local (docker-compose)
MONGODB_URI=mongodb://mongodb:27017/os-service-db
MONGODB_DATABASE=os-service-db
MONGO_SEED_DEFAULT_PASSWORD=abc123

GIN_MODE=debug

NEW_RELIC_LICENSE_KEY=a642c3dd964def913073610eac2c7889FFFFNRAL

JWT_SECRET=chave_muito_segura
JWT_TTL=24h
