POSTGRES_SONAR_USER= sonar
POSTGRES_SONAR_PASSWORD= sonar
POSTGRES_SONAR_DB= sonar

POSTGRES_USER= admin_user
POSTGRES_PASSWORD= Senha123
POSTGRES_DB= db_os_service
POSTGRES_HOST= db
POSTGRES_PORT= 5432
DB_SSLMODE=disable
GIN_MODE=debug

NEW_RELIC_LICENSE_KEY=a642c3dd964def913073610eac2c7889FFFFNRAL

JWT_SECRET=chave_muito_segura
JWT_TTL=24h
